*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --display-debug-info: none;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: rgb(255, 252, 217);
  height: 100vh;
}

.app-wrapper {
  position: relative;
  z-index: 10;
}

button {
  margin-bottom: 1em;
  border: 0 solid;
  background-color: hsl(0deg, 0%, 80%);
  color: black;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

label {
  font-size: 16px;
}

button:hover,
button:focus,
button:active {
  background-color: hsl(0deg, 0%, 70%);
}

button.--primary {
  background-color: hsl(135, 73%, 66%);
}

button.--primary:hover,
button.--primary:focus,
button.--primary:active {
  background-color: rgb(65, 195, 97);
}

button.--euro {
  background-color: hsl(214, 87%, 71%);
}

button.--euro:hover,
button.--euro:focus,
button.--euro:active {
  background-color: hsl(214, 69%, 59%);
}

#log {
  font-weight: 700;
}

input[type="number"] {
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 75px;
  height: 39px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

section {
  display: flex;
}

.debug,
.result,
.europa-teams {
  min-width: 14rem;
  margin-right: 1rem;
}

.debug {
  font-size: smaller;
  opacity: 0.5;
}
.debug-info {
  display: var(--display-debug-info);
}
.result:not(:empty) {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #333;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.europa-teams {
  font-size: 14px;
  color: hsl(214, 63%, 48%);
  padding: 0rem;
  border: 0 solid;
  min-width: initial;
}
.team {
  font-weight: bold;
}
.score {
  font-size: 3em;
}
.minute {
  width: 2em;
  display: inline-block;
}
.logo {
  display: block;
  margin: 0 auto 1rem;
  height: 100px;
}
.eventtype.--goal::after {
  content: "⚽";
}
.eventtype {
  width: 10px;
  height: 14px;
  display: inline-block;
  margin-right: 0.5em;
}
.eventtype.--yellow {
  background-color: yellow;
  border: 1px solid #333;
}
.eventtype.--red {
  background-color: red;
  border: 1px solid #333;
}
.game-counter {
  font-weight: 700;
}
