*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* height: 100%; */
  font-size: 18px;
  line-height: 1.5;
  font-family: sans-serif;
  background: url(./assets/images/voetbalveld.jpg) center no-repeat;
  background-size: cover;
}

.app-wrapper {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

button {
  margin-bottom: 1em;
  border: 0 solid;
  background-color: hsl(0deg, 0%, 90%);
  color: black;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: hsl(0deg, 0%, 80%);
}

button.--primary {
  background-color: hsl(135, 73%, 66%);
}

button.--primary:hover,
button.--primary:focus,
button.--primary:active {
  background-color: rgb(65, 195, 97);
}

#log {
  font-weight: 700;
}

input {
  font-size: 20px;
  width: 65px;
}

section {
  display: flex;
  /* margin-bottom: 1em; */
}

section > div {
  width: 50%;
  margin-right: 2rem;
}

.debug {
  font-size: smaller;
  opacity: 0.5;
}
.debug:not(:empty),
.result:not(:empty) {
  padding: 5px;
}
.team {
  font-weight: bold;
}
.score {
  font-size: 3em;
}
.minute {
  width: 2em;
  display: inline-block;
}
.event.--goal::after {
  content: "⚽";
}
.event {
  width: 10px;
  height: 14px;
  display: inline-block;
  margin-right: 0.5em;
}
.event.--yellow {
  background-color: yellow;
  border: 1px solid #333;
}
.event.--red {
  background-color: red;
  border: 1px solid #333;
}
